/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --grey: #6B7280;
  --pink: #EC4899;
  --purple: #8B5CF6;
  --light: rgba(238, 238, 238, 0.651);
}

body {
  font-family: "Open Sans", sans-serif;
  /* background: #f6f9ff; */
  /* color: #444444; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #FFF;
  background-color: var(--dark);
}

a {
  color: var(--purple);
  text-decoration: none;
  font-size: 1.4rem;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  /* border: 2px solid red; */
  margin: auto auto;
  max-width: 1000px;
}
@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}


* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}



header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

.task{
  /* max-width: 50%; */
  max-width: 100%;
}

.new-task-form {
	display: flex;
  
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.new-task-input {
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

.new-task-input::placeholder {
	color: var(--grey);
}

.new-task-submit {
	color: var(--pink);
	font-size: 1.3rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
  border: 2px solid var(--darkest);
  background-color: var(--darkest);
  border-radius: 3rem;
  padding: 1rem;
  margin-right: 2rem;
  height: 5rem;
}

.new-task-submit:hover {
	opacity: 0.8;
}

.new-task-submit:active {
	opacity: 0.6;
}

/* main {
	flex: 1 1 0%;
	max-width: 800px;
	max-width: 100%;
	margin: 0 auto;
} */

.task-list {
	padding: 1rem;
  max-width: 100%;
	color: var(--grey);

}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

/* #tasks .task {
	display: flex;
	justify-content: space-between;
	
} */

.task .form {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
max-width: 100%;
background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
  max-width: 100%;

}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	max-width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
  background-color: var(--darkest);
  max-height: 100%;
  max-width: 100%;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}
.task .actions .check {
	color: var(--pink);
  font-size: 1.5rem;
}
.task .actions .edit {
	color: var(--pink);
  font-size: 1.5rem;
}

.task .actions .delete {
	color: crimson;
  font-size: 1.5rem;

}