.navbar {
    position: fixed;
    /* background: transparent; */
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* z-index: 10; */
  }
  .navbar.active {
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 100%,
      rgb(223, 222, 222) 0%
    );
    color: aliceblue;
    transition: 1s;
}
.logo {
  background: none;
  height: 80px;
  overflow: hidden;
}
  .logo img {
    width: 100%;
object-fit: cover;
  }
  .menu-bars {
    color: #060b26;
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-form {
    margin: 0px 9px;
    flex: 1;
  }
  .nav-input {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  .nav-inputer {
    width: 100%;
    margin: 0px 5px;
    border: none;
    background-color: transparent;
  }
  .nav-input input:focus {
    outline: none;
  }
  .nav-search {
    margin: 0px 5px;
    color: #d35400;
    font-size: 4px;
    font-weight: 100;
  }
  .nav-menu a {
    /* border: 2px solid red; */
    font-size: 18px;
    margin: 0.2rem;
    color: #858EA1;
  }
  .nav-menu link{
    font-size: 18px;
    margin: 0.2rem;
    color: #858EA1;
  }
  .thedropdown {
    position: relative;
    display: inline-block;
  }
  
  .thedropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* max-width: 100%; */
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    z-index: 1;
    transition: all 0.5s ease;
  }
  .thedropdown-content li {
    list-style: none;
  }
  .thedropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 160px;
  
    transition: all 0.5s ease;
  }
  
  /* .thedropdown-content a:hover {background-color: #f1f1f1} */
  
  .thedropdown:hover .thedropdown-content {
    display: block;
    transition: all 0.5s ease;
  }
  
  .nav-cart {
    color: #060b26;
    display: flex;
  }
  .cart-number {
    position: relative;
    margin: 0;
    right: 0.3rem;
    bottom: 0.8rem;
    border-radius: 1rem;
    background-color: black;
    color: #f5f5f5;
    padding: 2px;
    height: 1.3rem;
    width: 0.9rem;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  .navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sidebar-menu {
    background-color: rgba(0, 0, 0, 0.856);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .sidebar-menu.active {
    left: 0;
    transition: 350ms;
  }
  .sidebar-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  .sidebar-text a {
    text-decoration: none;
    color: #eaedede8;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  .sidebar-text a:hover {
    background-color: #d35400;
  }
  .icon {
    color: whitesmoke;
  }
  span {
    margin-left: 16px;
  }
  