/* 
  .menu {
      margin: auto auto;
      width: 400px;
    background: #096692;
    height: 500px;
    color: #000;
    padding: 10px;
    opacity: 0.9;
  }
 
  .menuitem{
    z-index: 100;
    width: 100%;
  }
  .menuitem:hover {
    color: red;
  }
  
   */

/* Imported CSS */
/*Desktop View*/
/* #header {
  padding: 20px 0;
} */
.header {
  background: white;
  display: flex;
  /* background: linear-gradient(#6616fc, #f394d3); */
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  transition: all 0.5s;
  z-index: 1000;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  height: 89px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  /* width: 50%; */
  /* height: 400px; */
}
.logo img {
  /* border: 2px solid red; */
  width: 150px;
  height: 85px;
  padding: 0;
  margin: 0;
}
/* .logo a{
  width: 100%;
  height: 300px;
  border: 2px solid red;
} */
.nav-options {
  /* padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 2px solid red; */
  list-style-type: none;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.thedropdown {
  position: relative;
  display: inline-block;
}

.thedropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  /* max-width: 100%; */
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  z-index: 1;
  transition: all 0.5s ease;
}
.thedropdown-content li {
  list-style: none;
}
.thedropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 160px;

  transition: all 0.5s ease;
}

/* .thedropdown-content a:hover {background-color: #f1f1f1} */

.thedropdown:hover .thedropdown-content {
  display: block;
  transition: all 0.5s ease;
}

.mobile-option {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (min-width: 993px) {
  .navigationBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* border: 2px solid green; */
  }
  .option {
    /* margin: 5px; */
    margin: 0 10px;
    padding: 0 10px;
  }
  .option :hover {
    color: #f0222c;
  }
  .option a {
    font-size: 22px;
    font-weight: 600;
    /* color: #556270; */
  }
  .menu-icon {
    display: none;
  }
  .major,
  .navbar .major:focus {
    background: #d9232d;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
  }
  .major:hover,
  .major:focus:hover {
    color: #fff;
    background: #e1444d;
  }
  .major,
  .major:focus {
    margin: 15px;
  }
}

@media (max-width: 993px) {
  /*Mobile View */
  .mobileShowNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header {
    padding: 0px 10px;
  }
  .logo a {
    width: 45px;
    height: 45px;
    margin-left: 20px;
    /* border: 2px solid red; */
  }
  .nav-options {
    position: absolute;
    top: 80px;
    left: -100%;
    max-height: 400px;
    margin: auto auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    align-items: center;
    list-style-type: none;
    grid-gap: 0px;
    z-index: 10;
  }
  .nav-options.active {
    /* background: rgba(63, 73, 83, 0.9); */
    background: #f8f6f6f8;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    font-size: 20px;
    margin-bottom: 13px;
    margin-right: 10px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    height: 60px;
    padding: 20px 0px 20px 20px;
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
  }

  .option a {
    font-size: 20px;
  }
  .option a:hover {
    color: #d9232d;
  }
}
.mobile-menu {
  display: block;
}
